<li class="chat-list__item">
    <figure class="chat-list__avatar avatar avatar_medium">
        <img src={{avatarIcon}} alt="user-avatar" />
    </figure>
    <div class="chat-list__user-info">
        <p class="chat-list__name">{{userName}}</p>
        <p class="chat-list__last-message">{{lastMessage}}</p>
    </div>
    <div class="chat-list__additional">
        <p class="chat-list__time">{{time}}</p>
        <div class="chat-list__message-counter">{{count}}</div>
    </div>
</li>