{{#if mine}}
<li class="messages__mine">
    {{#if image}}
    <img class="messages__attach" src={{image}} alt="sended attach">
    {{/if}}
    <p>
        {{message}}
    </p>
    <span class="messages__message-info">
        <img class="delivered" src={{deliveredIcon}} alt="delivered-icon" />
        <span class="messages__mine-date">{{time}}</span>
    </span>
</li>
{{else}}
<li>
    {{#if image}}
    <img src={{image}} alt="sended attach">
    {{/if}}
    <p>
        {{message}}
    </p>
    <span class="messages__message-info">
        <span>{{time}}</span>
    </span>
</li>
{{/if}}